
/*-----------------------------abou us--------------------*/

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
}

#rick {
    color: rgb(11, 38, 121);
}

#abir {
    color: rgb(231, 15, 15);
}

#snehanti {
    color: rgb(219, 77, 219);
}

#suchetana {
    color: rgb(103, 60, 55);
}

#shirsha {
    color: rgb(31, 104, 199);
}

#soumik {
    color: rgb(18, 107, 21);
}


.about-section {
    padding: 50px;
    text-align: center;
    background-color: #778093;
    color: white;
}

.about-section p {
    color: #faf6f6;
}

.container {
    padding: 0 16px;
}


.container::after,
.row::after {
    content: "";
    clear: both;
    display: table;
}

.title {
    color: grey;
}

.button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background: #e6585f;
    text-align: center;
    cursor: pointer;
    width: 100%;
    transition: 1s;
}

.button:hover {
    background: linear-gradient(to left, #0066ff 0%, #ff6600 100%);
    color: #ffffff;
    font-weight: bolder;
}

@media screen and (max-width: 650px) {
    .column {
        width: 100%;
        display: block;
    }
}

.fa-envelope {
    color: darkblue;
}

.contact {
    background-color: rgb(185 188 192);
    height: 833px;
}

.text-center {
    text-align: center;
    padding-top: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
}

.form {
    max-width: 1200px;
    margin: 25px auto;
}

.form-input {
    margin: 14px 0;
    padding: 5px 13px;
    width: 100%;
    font-size: 19px;
    border: 2px solid grey;
    border-radius: 6px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/*======================
    Team Section
======================*/
.team-block{
    text-align: center;
}


/*======================
    POPUP
======================*/

