
.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col {
    flex-basis: 50%;
    min-width: 300px;
}

.col img {
    max-width: 100%;
    padding: 50px 0;
    border-radius: 200px;
}

.col h1 {
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}

.col-2 {
    flex-basis: 50%;
    min-width: 300px;
}

.col-2 img {
    max-width: 100%;
    padding: 50px 0;
    border-radius: 400px;
}

.col-2 h1 {
    font-size: 50px;
    line-height: 60px;
    margin-left: -2px;
    margin-right: -211px;
}

.btn-add {
    display: inline-block;
    background: #2A9E00;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: 0.5s;
}

.btn-add2 {
    display: inline-block;
    background: #fff;
    color: #fff;
    padding: 0;
    margin: 30px 0;
    border-radius: 30px;
    transition: 0.5s;
}

.btn:hover {
    background: #563434;
}

.header {
    background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%);
}

.header .row {
    margin-top: 70px;
}

.categories {
    margin: 70px 0;
}

.col-3 {
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}

.col-3 img {
    width: 100%;
}


/*-------------------------------------featured products---------------------------------*/

.container-2 {
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.col-4 {
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: 0.5s;
}

.col-4 img {
    width: 100%;
}

.product {
    position: relative;
    display: inline-block;
}

.product .img-top {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}

.product:hover .img-top {
    display: inline;
}

.title {
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}

.title::after {
    content: '';
    background: #2A9E00;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

h4 {
    color: #555;
    font-weight: bold;
}

.col-4 p {
    font-size: 14px;
}

.rating .fas {
    color: #2A9E00;
}

.rating .far {
    color: #2A9E00;
}

.col-4:hover {
    transition: 1s;
    transform: translateY(-5);
}


/*------------ Offer ----------*/

.offer {
    background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%);
    margin-top: 80px;
    padding: 30px 0;
}

.col-2 .offer-img {
    padding: 50px;
}

small {
    color: #5FC33B;
}


/*--------------testimonial-----------*/

.testimonial {
    padding-top: 100px;
}

.testimonial .col-3 {
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.5s;
}

.testimonial .col-3 img {
    width: 50px;
    margin-top: 20px;
    border-radius: 50%;
}

.testimonial .col-3:hover {
    transform: translateY(-10px);
}

.fas.fa-quote-left {
    font-size: 34px;
    color: #ff523b;
}

.col-3 p {
    font-size: 12px;
    margin: 12px 0;
    color: #777;
}

.testimonial .col-3 h3 {
    font-weight: 600;
    color: #555;
    font-size: 16px;
}


/*------------------brands------------*/

.brands {
    margin: 100px auto;
}

.col-5 {
    width: 160px;
}

.col-5 img {
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
}

.col-5 img:hover {
    filter: grayscale(0);
}

.col-new {
    flex-basis: 50%;
    min-width: 300px;
}

.col-new img {
    max-width: 100%;
    padding: 50px 0;
    margin-top: -250px;
}


/*--------------footer------------*/

.footer {
    background: black;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
}

.footer p {
    color: #8a8a8a;
}

.footer h3 {
    color: white;
    margin-bottom: 20px;
}

.footer-col-1,
.footer-col-2,
.footer-col-4 {
    min-width: 200px;
    margin-bottom: 10px;
}

.footer-col-1 {
    flex-basis: 30%;
}

.footer-col-2 {
    flex: 1;
    text-align: center;
}

.footer-col-2 img {
    width: 180px;
    margin-bottom: 20px;
}

.footer-col-4 {
    flex-basis: 12%;
    text-align: left;
}

ul {
    list-style-type: none;
}

.app-logo {
    margin-top: 20px;
}

.app-logo img {
    width: 140px;
}

.footer hr {
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}

.copyright {
    text-align: center;
}

.fa-facebook {
    color: #4267B2;
}

.fa-twitter {
    color: #1DA1F2;
}

.fa-instagram {
    color: #bc2a8d;
}

.fa-youtube {
    color: red;
}

.fa-linkedin {
    color: #0072b1;
}

.fa-heart {
    color: #f44336;
}

.menu-icon {
    width: 28px;
    margin-left: 20px;
    display: none;
}


/*-------------------media query for menu-------------------*/

@media only screen and (max-width: 800px) {
    nav ul {
        position: absolute;
        top: 70px;
        left: 0;
        background: #5FC33B;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
    }
    nav ul li {
        display: block;
        margin-right: 50px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    nav ul li a {
        color: #fff;
    }
    .menu-icon {
        display: block;
        cursor: pointer;
    }
}


/*------------------------------------all products-------------------------*/

.row-2 {
    justify-content: space-between;
    margin: 100px auto 50px;
}

select {
    border: 1px solid #2A9E00;
    padding: 5px;
}

select:focus {
    outline: none;
}

.page-btn {
    margin: 0 auto 80px;
}

.page-btn span {
    display: inline-block;
    border: 1px solid #2A9E00;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}

.page-btn span:hover {
    background: #2A9E00;
    color: white;
}


/*---------------------------------------single product details----------------------*/

.single-product {
    margin-top: 80px;
}

.single-product .col-new img {
    padding: 0;
}

.single-product .col-new {
    padding: 20px;
}

.single-product h4 {
    margin: 20px 0;
    font-size: 22ps;
    font-weight: bold;
}

.single-product select {
    display: block;
    padding: 10px;
    margin-top: 20px;
}

.single-product input {
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid #f7444e;
}

input:focus {
    outline: none;
}

.single-product .fas {
    color: #2A9E00;
    margin-left: 10px;
}

.small-img-row {
    display: flex;
    justify-content: space-between;
}

.small-img-col {
    flex-basis: 24%;
    cursor: pointer;
}


/*------------------cart ITEMS-------------*/

.cart-page {
    margin: 80px auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.cart-info {
    display: flex;
    flex-wrap: wrap;
}

th {
    text-align: left;
    padding: 5px;
    color: white;
    background: #2A9E00;
    font-weight: normal;
}

td {
    padding: 10px 5px;
}

td input {
    width: 40px;
    height: 30px;
    padding: 5px;
}

td a {
    color: #ff523b;
    font-size: 12px;
}

td img {
    width: 80px;
    height: 80px;
    margin-right: 10px;
}

.total-price {
    display: flex;
    justify-content: flex-end;
}

.total-price table {
    border-top: 3px solid #2A9E00;
    width: 100%;
    max-width: 450px;
}

td:last-child {
    text-align: right;
}

th:last-child {
    text-align: right;
}


/*------------------------media query for less than 600 screen------------------------*/

@media only screen and (max-width: 600px) {
    .row {
        text-align: center;
    }
    .col-new,
    .col,
    .col-2,
    .col-3 {
        flex-basis: 100%;
    }
    .single-product .row {
        text-align: left;
    }
    .single-product .col-new {
        padding: 20px 0;
    }
    .single-product h1 {
        font-size: 26px;
        line-height: 32px;
    }
    .cart-info p {
        display: none;
    }
}


/*-------------------account-------------------*/

.account-page {
    padding: 50px 0;
    background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%);
    ;
}

.form-container {
    background: white;
    width: 300px;
    height: 400px;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.form-container span {
    font-weight: bold;
    padding: 0 10px;
    color: #555;
    cursor: pointer;
    width: 100px;
    display: inline-block;
}

.form-btn {
    display: inline-block;
}

.form-container form {
    max-width: 300px;
    padding: 0 20px;
    position: absolute;
    top: 130px;
    transition: transform 1s;
}

form input {
    width: 100%;
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid #ccc;
}

form .btn {
    width: 100%;
    border: none;
    cursor: pointer;
    margin: 10px 0;
}

form .btn:focus {
    outline: none;
}

#LoginForm {
    left: -300px;
}

#RegForm {
    left: 0;
}

form a {
    font-size: 12px;
}

#Indicator {
    width: 100px;
    border: none;
    background: #ff523b;
    height: 3px;
    margin-top: 8px;
    transform: translateX(100px);
    transition: transform 1s;
}


/*----------Blog-------------------*/

#blog-container .post .post-img {
    border: 1px solid #FFD700;
    overflow: hidden;
    cursor: pointer;
}

#blog-container .post img {
    transition: 0.3s ease;
}

#blog-container .post:hover img {
    transform: scale(1.3) rotate(-10deg);
    opacity: 0.8;
}

#blog-container .post h4 {
    transition: 0.3s ease;
    cursor: pointer;
}

#blog-container .post:hover h4 {
    color: #2A9E00;
}

#blog-container .post:hover p {
    color: #fd8c66;
}

.sub-header {
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(images/tea.jpeg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: white;
}

.location {
    width: 80%;
    margin: auto;
    padding: 80px 0;
}

.location iframe {
    width: 100%;
}

#MenuItems-2 a {
    text-decoration: none;
    color: white;
}

.contact-us {
    text-align: center;
}

.fa-phone-alt {
    color: #0072b1;
}

.fa-whatsapp-square {
    color: #25D366;
}

.contact {
    background-color: rgb(185 188 192);
    height: 833px;
}

.text-center {
    text-align: center;
    padding-top: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
}

.form {
    max-width: 1200px;
    margin: 25px auto;
}

.form-input {
    margin: 14px 0;
    padding: 5px 13px;
    width: 100%;
    font-size: 19px;
    border: 2px solid grey;
    border-radius: 6px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/*-----------------------------abou us--------------------*/

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
}

#rick {
    color: royalblue;
}

#abir {
    color: rgb(231, 15, 15);
}

#snehanti {
    color: violet;
}

#suchetana {
    color: rgb(103, 60, 55);
}

#shirsha {
    color: rgb(199, 31, 199);
}

#soumik {
    color: rgb(255, 239, 8);
}

.about-section {
    padding: 50px;
    text-align: center;
    background-color: #474e5d;
    color: white;
}

.about-section p {
    color: #f44336;
}

.container {
    padding: 0 16px;
}

.container::after,
.row::after {
    content: "";
    clear: both;
    display: table;
}

.title {
    color: grey;
}

.button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background: linear-gradient(to right, #00cc00 0%, #ffff99 100%);
    text-align: center;
    cursor: pointer;
    width: 100%;
    transition: 1s;
}

.button:hover {
    background: linear-gradient(to left, #0066ff 0%, #ff6600 100%);
    color: #ffffff;
    font-weight: bolder;
}

@media screen and (max-width: 650px) {
    .column {
        width: 100%;
        display: block;
    }
}

.fa-envelope {
    color: darkblue;
}

.contact {
    background-color: rgb(185 188 192);
    height: 833px;
}

.text-center {
    text-align: center;
    padding-top: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
}

.form {
    max-width: 1200px;
    margin: 25px auto;
}

.form-input {
    margin: 14px 0;
    padding: 5px 13px;
    width: 100%;
    font-size: 19px;
    border: 2px solid grey;
    border-radius: 6px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}